/**
 * This declaration file requires TypeScript 2.1 or above.
 */

declare namespace JIRA {
  export type Any = any;
  export type AnyObject = object;

  export interface Options {
    baseUrl?: string;
    headers?: Headers;
    options?: AnyObject;
  }

  export type ResponseHeaders = {
    [header: string]: any;
  };

  export type ResponseError =
    | JIRA.Schema.BulkOperationErrorResult
    | JIRA.Schema.ErrorCollection
    | JIRA.Schema.Any;

  export interface Callback<T> {
    (error: ResponseError, response: T): void;
  }

  export interface Response<T> {
    data: T;
    headers: ResponseHeaders;
  }

  namespace Schema {
    export type Any = JIRA.Any;
    export type AnyObject = JIRA.AnyObject;

    {{{typesBlob}}}
  }

  namespace Params {
    export type Empty = {};

    {{#apis}}
    {{^exclude}}
    {{#paramsType}}
    export type {{paramsType}} =
      {{#params}}
      {
      {{#items}}
        "{{name}}"{{^required}}?{{/required}}: {{{type}}};
      {{/items}}
      };
      {{/params}}
      {{^params}}
      ;
      {{/params}}
    {{/paramsType}}
    {{/exclude}}
    {{/apis}}
  }
}

declare class JIRA {
  constructor(options?: JIRA.Options);

  {{#apis}}
  {{name}}(params: JIRA.Params.{{paramsType}}, callback?: JIRA.Callback<JIRA.Response<JIRA.Schema.{{responseType}}>>): Promise<JIRA.Response<JIRA.Schema.{{responseType}}>>;
  {{/apis}}
}

export = JIRA;

export as namespace JIRA;
